<div id=navbar>
    <i id="home" onclick="window.location.href='http://localhost:4200/dashboard';" class="far fa-list-alt"><span
            id="todoapp">ToDo Manager</span></i>
    <i id="addnewbutton"  *ngIf="isSignedIn" (click)="onCreate()" class="fas fa-plus-square"></i>
    <i class="fas fa-sign-out-alt fa-2x" *ngIf="isSignedIn" (click)="logout()" id="logoutBtn"></i>
</div>

<!--<app-dashboard></app-dashboard>-->

<div id="auth">
    <div *ngIf="!isSignedIn">
        <h2>Sign up</h2>
        <input type="text" #emailSignup placeholder="Username / E-Mail" class="inputField" autocomplete="off"/>
        <input type="password" #passwordSignup placeholder="Password" class="inputField" autocomplete="off"/>
        <br>
        <br>
        <button (click)="onSignup(emailSignup.value,passwordSignup.value)" class="authBtn">Sign up</button>
    </div>
    <br>
    <div *ngIf="!isSignedIn">
        <h2>Sign In</h2>
        <input type="text" #email  placeholder="Username / E-Mail" class="inputField" autocomplete="off"/>
        <input type="password" #password placeholder="Password" class="inputField" autocomplete="off"/>
        <br>
        <br>
        <button (click)="onSignin(email.value,password.value)"class="authBtn" >Sign in</button>
    </div>
    <app-dashboard *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-dashboard>
</div>